asgiref==3.12.1
astroid==4.0.4
attrs==26.1.0
autobahn==26.7.1
Automat==25.4.16
cbor2==6.1.4
cffi==2.1.1
channels==4.3.2
channels_redis==4.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==50.0.1
daphne==4.2.3
dill==0.4.1
Django==4.2.30
hyperlink==21.0.0
idna==3.20
Incremental==24.11.0
isort==9.0.1
mccabe==0.7.0
msgpack==1.2.2
mypy_extensions==1.1.0
packaging==26.3
platformdirs==4.11.10
pycparser==3.0
pylint==4.0.8
pylint-django==2.8.0
pylint-plugin-utils==0.9.0
pyOpenSSL==26.4.0
redis==8.1.0
service-identity==26.1.0
sqlparse==0.6.0
tomlkit==0.15.1
Twisted==26.4.0
txaio==26.6.1
typing_extensions==4.16.0
tzdata==2026.4
ujson==6.0.0
zope.interface==8.6
